# ==========================================
# Cấu hình Git Ignore cho dự án SisFall HAR
# ==========================================

# 1. Virtual Environment & Python Caches
venv/
__pycache__/
*.py[cod]
*$py.class

# 2. Dữ liệu (Datasets) và File nén
SisFall_dataset/
SisFall_dataset_Processed/
SisFall_dataset_Windowed/
archive.zip
*.zip
*.7z
*.rar

# 3. Cache lúc Train
train_cache/

# 4. Các Model đã Train
*.keras
*.h5
*.hdf5
*.pb
saved_model/

# 5. Các file chuyển đổi cũ (TFLite, C++)
*.tflite
model_data.cc
model_data.h

# 6. Hình ảnh và biểu đồ (Plots)
*.png
*.jpg
*.jpeg

# 7. Cấu hình IDE & HĐH
.vscode/
.idea/
.DS_Store
Thumbs.db
